**/.idea
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/
*.DotSettings.user
# remove this as soon as you understand how to use user secrets
src/PlatformService/appsettings.json
